.Captcha-container {
    display: flex;
    width: 100%;
    gap: 5px;
}

.Captcha__svg-container {
    flex: 1;

}

.Captcha__svg-label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-size: 10px;
    font-weight: bold;
    color: var(--main-color);
}

.Captcha__input {
    flex: 1;
}

.border-red {
    border-color: var(--error-color);
}

.error-text {
    color: var(--error-color);
    font-size: 10px;
}