
.CommentItem__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(--main-color);
    margin-bottom: 6px;
    border-radius: 2px;
}

.CommentItem__icon {
    display: block;
    color: #fff;
    padding: 8px 10px;
    cursor: pointer;
}

.CommentItem__icon:hover {
    background-color: #4b5563;
}

.CommentItem__icon:active {
    background-color: #030712;
}

.CommentItem__text {
    margin-bottom: 10px;
}

.CommentItem__actions-user {
    padding-left: 20px;
}

.CommentItem__parent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    border-left: 2px solid #e2e8f0;
    padding: 2px;
    margin-bottom: 5px;
}

.CommentItem__file-wrapper {
    background-color: #e2e8f0;
    padding-inline: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 25px;
    box-sizing: border-box;
    border-radius: 2px;
}

.Comment__file {
    height: 20px;
    display: flex;
}



.CommentItem__img {
    height: 100%;
    cursor: pointer;
}

.CommentItem__txt {
    display: flex;
    align-self: center;
}