.AddCommentForm__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.AddCommentForm {
    width: 100%;
}

@media (min-width: 640px) {
    .AddCommentForm {
        width: 40%;
    }
}

.AddCommentForm__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

